@mixin selection ($color, $bg-color, $elem:"") {
  #{$elem}::selection {
    color: $color;
    background-color: $bg-color;
  }
}



@mixin linx ($link, $visit, $hover, $active) {
  a {
    text-decoration: none;
    color: $link;

    &:visited {
      color: $visit;
    }

    &:hover {
      color: $hover;
    }

    &:active {
      color: $active;
    }
  }
}



$breakpoints: (s: 560px,
  m: 768px,
  ml: 1190px,
  l: 1280px,
  xl: 1440px,

);

@mixin mq($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (max-width: #{ map-get( $breakpoints, $breakpoint ) }) {
      @content;
    }
  }

  @else if type_of($breakpoint)==number and unit($breakpoint)==px or unit($breakpoint)==em or unit($breakpoint)==rem {
    @media (max-width: $breakpoint) {
      @content;
    }
  }
}


@mixin pseudo($content: '', $display: block, $position: absolute) {
  content: $content;
  display: $display;
  position: $position;
}



@mixin vert{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
