.imagebox--border {
    padding: 2rem;
    border: 2rem solid $primary;
}

.hero__page {
    align-self: center;
    position: relative;

    &__heading {
        font-size: 5.5rem;

        @include mq(s) {
            font-size: 4rem;

        }
    }

    &__subheading {
        text-transform: uppercase;
        color: $secondary;

    }
}

.about {
    background-color: $baseheading;
    position: relative;

    .heading__left__title {
        color: $linkcolor;
    }

    .image {
        width: 100%;

        &--top {
            padding: 2rem;
            border: 1rem solid $primary;
        }

        &__inner-box {
            z-index: 2;
            margin-left: -6rem;
            margin-right: -6rem;
            margin-top: -6rem;
            transition: .5s ease-in-out;
            &:hover{
                transform: translateY(-1rem);
            }

            @include mq(m) {
                margin-left: 0;
                margin-right: 0;
                margin-top: 0;
            }
        }

    }
}

.content--count {
    column-count: 2;
    gap: 4rem;

    @include mq(s) {
        column-count: 1;
        gap: 0;
    }
}



    .contact__link {
        display: inline-block;
        margin: 1rem 0;
        color: $primary;
        font-size: 2.5rem;

        &:hover {
            color: $secondary;
        }

        @include mq(s) {
            font-size: 2rem;
        }


    }

    .service {
        background-color: $baseheading;
        position: relative;

        .heading__left__title {
            color: $linkcolor;


        }

        &__wrapper {
            padding: 2.5rem;
            background-color: $bgcard;
            border-radius: .7rem;
            display: flex;
            flex-direction: column;
        }

        &__title {
            text-align: center;
        }

        &__item {
            line-height: $text-line-height;

            &::before {
                content: url('../img/check.svg');
                display: inline-block;
                width: 1.2rem;
                margin-right: 2rem;
            }
        }

        .fas {
            color: $secondary;
            margin-bottom: 3rem;
            font-size: 3rem;
            align-self: center;

        }

        &__link {
            display: inline-block;
            margin-top: 2rem;
            color: $primary;
            font-size: 2rem;

        }

    }

    .heading__left {
        span {
            color: $primary;
        }
    }


    .service__gallery {
        margin: 3rem;
        padding: 3rem;
        height: 50rem;
        border-radius: 1.2rem;
        box-shadow: .1rem .1rem 2rem .7rem rgba(0, 0, 0, 0.1);

        @include mq(s) {
            padding: 1rem;
            margin: 0;
        }

        .heading__center__title {
            margin: 5rem 0;
            text-align: center;

            @include mq(s) {

                font-size: 2.5rem;
            }

        }
    }