// Colors
$primary: #ca4c25; //brand color #c82602
$secondary: #ef7059; //hover, accent color
$basetext: #464646; //paragraph, text
$baseheading: #27292f; //heading and titles
$bgcolor: #f5f5f5; // site background
$bgpanel1: #27292f; // background panel, container  v.1
$bgpanel2: #cecece; // background panel, container  v.2
$bgcard: #ffffff; // background card
$bordercolor: #cecece; //form border color
$linkcolor: #fcfcfc;
$linkcolor2: #ef7059;
$gradient: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
$iconopacity: rgba(255 ,255, 255, 0.2);
$textshadows: -1px 0 rgba(200, 38, 2, 0.2), 0 1px rgba(200, 38, 2, 0.2), 1px 0 rgba(200, 38, 2, 0.2), 0 -1px rgba(200, 38, 2, 0.2);


// Font Family
$fontbase: Inter,
Roboto,
sans-serif;
$text-line-height: 170%;

//fonts size
$h1: 10rem;
$h2: 3.5rem;
$h3: 2.3rem;
$h4: 1.8rem;
$breadcrumbs: 1.3rem;


